*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/company/athleteapiart/util/ClientSecret.kt
app/src/main/java/com/company/activityart/util/ClientSecret.kt
app/src/main/java/com/company/activityart/util/ClientSecret.kt
*.aab
app/google-services.json
app/src/main/java/com/activityartapp/util/constants/ClientSecret.kt
